.cetralizado{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.titulo{
	border: 2px #e8e8e8 solid;
}

.botao{
	width: 120px;
	height: 120px;
	font-size: 100px;
}

.limpar{
    width:368px;
}

h1{
	font-size: 35px;
	margin: 0px;
}